body {
  background-color: #131623;
  margin: 0;
  overflow: hidden;
}

.mainNav img {
  width: 3rem;
  position: fixed;
  top: 1rem;
  left: 1em;
}

p {
  font-family: "Work Sans", sans-serif;
  color: #fffcf8;
}

@media screen and (min-width: 700px) {
}

.mainNav nav a {
  margin-left: 0;
  font-family: "Work Sans", sans-serif;
  color: #fffcf8;
  text-decoration: none;
  font-size: 1.3rem;
  margin-right: 4rem;
  justify-content: space-between;
}

.mainNav nav a:hover {
  text-decoration-line: underline;
  text-decoration-color: #ff954d;
}

.mainNav nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: -11.5rem;
  top: 21rem;
  transform: rotate(-90deg);
}

.productview {
  display: grid;
}

.title,
.productInfo,
.purchasebox {
  font-family: "Work Sans", sans-serif;
  color: #fffcf8;
}

.title {
  position: absolute;
  top: 10vw;
  left: 15vw;
}

.title .price span {
  text-decoration-line: line-through;
  opacity: 50%;
}

.title .discounted {
  display: flex;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #ff954d;
  color: #fffcf8;
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  top: 10vw;
}

.productInfo {
  position: absolute;
  top: 25vw;
  left: 15vw;
}

.purchasebox {
  position: absolute;
  top: 40vw;
  left: 15vw;
}

.picture img {
  justify-content: right;
  float: right;
  width: 40rem;
  margin-top: -3rem;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  position: absolute;
  top: 5vw;
  left: 12vw;
}

.breadcrumbs li {
  margin-right: 1rem;
  font-family: "Work Sans", sans-serif;
  color: #fffcf8;
  font-size: 0.9rem;
}

.breadcrumbs li a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: #fffcf8;
  font-size: 0.9rem;
}
